<MudAppBar Elevation="1">
    <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" />

    <MudSpacer />

    <MudIconButton
        Icon="@(this.DarkMode ? Icons.Material.Outlined.WbSunny : Icons.Material.Outlined.Nightlight)"
        Color="Color.Inherit"
        Size="Size.Small"
        OnClick="@(()=>this.OnToggleDarkMode?.Invoke())"
        aria-label="Toggle dark mode"
    />

    <MudButton OnClick="@(() => drawer = !drawer)"><MudAvatar Color="Color.Tertiary">E</MudAvatar></MudButton>
</MudAppBar>

<div>
    <MudDrawer Class="nav-drawer" @bind-Open="drawer" Elevation="2" Variant="@DrawerVariant.Temporary" Anchor="Anchor.Right">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5" Class="mt-1">Application</MudText>
        </MudDrawerHeader>
    </MudDrawer>
</div>

@code {
    private bool drawer = false;

    [Parameter]
    public bool DarkMode { get; set; }

    [Parameter]
    public Action? OnToggleDarkMode { get; set; }
}
